# Step 1) Get CSV Data

In [1]:
#Get packages

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sqlite3

## Load Data Set

In [2]:
df_csv = pd.read_csv("FantasyPros_Fantasy_Football_Statistics_WR.csv")
df_csv.head()

,Rank,Player,REC,TGT,YDS,Y/R,LG,20+,TD,ATT,YDS.1,TD.1,FL,G,FPTS,FPTS/G,OWN
0,1.0,Michael Thomas (NO),149.0,185.0,"1,725",11.6,49.0,17.0,9.0,1.0,-9.0,0.0,0.0,16.0,225.6,14.1,100.0%
1,2.0,Chris Godwin (TB),86.0,121.0,"1,333",15.5,71.0,25.0,9.0,1.0,8.0,0.0,0.0,14.0,190.1,13.6,99.9%
2,3.0,Kenny Golladay (DET),65.0,116.0,"1,190",18.3,75.0,22.0,11.0,0.0,0.0,0.0,1.0,16.0,183.0,11.4,99.1%
3,4.0,Cooper Kupp (LAR),94.0,134.0,"1,161",12.4,66.0,21.0,10.0,2.0,4.0,0.0,0.0,16.0,176.5,11.0,97.2%
4,5.0,Julio Jones (ATL),99.0,157.0,"1,394",14.1,54.0,21.0,6.0,2.0,-3.0,0.0,0.0,15.0,175.1,11.7,100.0%

In [3]:
#2) Split the player name into player and team
df_csv[['Player','Team']] = df_csv['Player'].str.split('(',expand=True)
df_csv.head(5)

,Rank,Player,REC,TGT,YDS,Y/R,LG,20+,TD,ATT,YDS.1,TD.1,FL,G,FPTS,FPTS/G,OWN,Team
0,1.0,Michael Thomas,149.0,185.0,"1,725",11.6,49.0,17.0,9.0,1.0,-9.0,0.0,0.0,16.0,225.6,14.1,100.0%,NO)
1,2.0,Chris Godwin,86.0,121.0,"1,333",15.5,71.0,25.0,9.0,1.0,8.0,0.0,0.0,14.0,190.1,13.6,99.9%,TB)
2,3.0,Kenny Golladay,65.0,116.0,"1,190",18.3,75.0,22.0,11.0,0.0,0.0,0.0,1.0,16.0,183.0,11.4,99.1%,DET)
3,4.0,Cooper Kupp,94.0,134.0,"1,161",12.4,66.0,21.0,10.0,2.0,4.0,0.0,0.0,16.0,176.5,11.0,97.2%,LAR)
4,5.0,Julio Jones,99.0,157.0,"1,394",14.1,54.0,21.0,6.0,2.0,-3.0,0.0,0.0,15.0,175.1,11.7,100.0%,ATL)

In [4]:
#3) Remove the trailing bracket from the new Team field
# initializing bad_chars_list 

spec_chars = ["!",'"',"#","%","&","'","(",")",
              "*","+",",","-",".","/",":",";","<",
              "=",">","?","@","[","\\","]","^","_",
              "`","{","|","}","~","â€“"]

for char in spec_chars:
    df_csv['Team'] = df_csv['Team'].str.replace(char, ' ')
df_csv.head()

,Rank,Player,REC,TGT,YDS,Y/R,LG,20+,TD,ATT,YDS.1,TD.1,FL,G,FPTS,FPTS/G,OWN,Team
0,1.0,Michael Thomas,149.0,185.0,"1,725",11.6,49.0,17.0,9.0,1.0,-9.0,0.0,0.0,16.0,225.6,14.1,100.0%,NO
1,2.0,Chris Godwin,86.0,121.0,"1,333",15.5,71.0,25.0,9.0,1.0,8.0,0.0,0.0,14.0,190.1,13.6,99.9%,TB
2,3.0,Kenny Golladay,65.0,116.0,"1,190",18.3,75.0,22.0,11.0,0.0,0.0,0.0,1.0,16.0,183.0,11.4,99.1%,DET
3,4.0,Cooper Kupp,94.0,134.0,"1,161",12.4,66.0,21.0,10.0,2.0,4.0,0.0,0.0,16.0,176.5,11.0,97.2%,LAR
4,5.0,Julio Jones,99.0,157.0,"1,394",14.1,54.0,21.0,6.0,2.0,-3.0,0.0,0.0,15.0,175.1,11.7,100.0%,ATL

In [5]:
#4) Update field names
df_csv.rename(columns = {'YDS':'REC_YDS'}, inplace = True) 
df_csv.rename(columns = {'TD':'REC_TD'}, inplace = True) 
df_csv.rename(columns = {'TD.1':'RUSH_TD'}, inplace = True)
df_csv.head()

,Rank,Player,REC,TGT,REC_YDS,Y/R,LG,20+,REC_TD,ATT,YDS.1,RUSH_TD,FL,G,FPTS,FPTS/G,OWN,Team
0,1.0,Michael Thomas,149.0,185.0,"1,725",11.6,49.0,17.0,9.0,1.0,-9.0,0.0,0.0,16.0,225.6,14.1,100.0%,NO
1,2.0,Chris Godwin,86.0,121.0,"1,333",15.5,71.0,25.0,9.0,1.0,8.0,0.0,0.0,14.0,190.1,13.6,99.9%,TB
2,3.0,Kenny Golladay,65.0,116.0,"1,190",18.3,75.0,22.0,11.0,0.0,0.0,0.0,1.0,16.0,183.0,11.4,99.1%,DET
3,4.0,Cooper Kupp,94.0,134.0,"1,161",12.4,66.0,21.0,10.0,2.0,4.0,0.0,0.0,16.0,176.5,11.0,97.2%,LAR
4,5.0,Julio Jones,99.0,157.0,"1,394",14.1,54.0,21.0,6.0,2.0,-3.0,0.0,0.0,15.0,175.1,11.7,100.0%,ATL

In [6]:
#5) Remove Null fields from data
# drop all rows with any NaN and NaT values
df_csv_2019 = df_csv.dropna()
df_csv_2019.head()

,Rank,Player,REC,TGT,REC_YDS,Y/R,LG,20+,REC_TD,ATT,YDS.1,RUSH_TD,FL,G,FPTS,FPTS/G,OWN,Team
0,1.0,Michael Thomas,149.0,185.0,"1,725",11.6,49.0,17.0,9.0,1.0,-9.0,0.0,0.0,16.0,225.6,14.1,100.0%,NO
1,2.0,Chris Godwin,86.0,121.0,"1,333",15.5,71.0,25.0,9.0,1.0,8.0,0.0,0.0,14.0,190.1,13.6,99.9%,TB
2,3.0,Kenny Golladay,65.0,116.0,"1,190",18.3,75.0,22.0,11.0,0.0,0.0,0.0,1.0,16.0,183.0,11.4,99.1%,DET
3,4.0,Cooper Kupp,94.0,134.0,"1,161",12.4,66.0,21.0,10.0,2.0,4.0,0.0,0.0,16.0,176.5,11.0,97.2%,LAR
4,5.0,Julio Jones,99.0,157.0,"1,394",14.1,54.0,21.0,6.0,2.0,-3.0,0.0,0.0,15.0,175.1,11.7,100.0%,ATL

In [7]:
#6) Check for Duplicates Duplicates
# Select duplicate rows except first occurrence based on all columns
duplicateRowsDF = df_csv_2019[df_csv_2019.duplicated()]
print("Duplicate Rows except first occurrence based on all columns are :")
print(duplicateRowsDF)

Duplicate Rows except first occurrence based on all columns are :
Empty DataFrame
Columns: [Rank, Player, REC, TGT, REC_YDS, Y/R, LG, 20+, REC_TD, ATT, YDS.1, RUSH_TD, FL, G, FPTS, FPTS/G, OWN, Team]
Index: []

In [8]:
#Connect to SQL Lite Database
conn = sqlite3.connect('DSC540_final_db.sqlite')
#Insert dataframe
df_csv_2019.to_sql('csv_data', conn, if_exists='replace', index=False)
#Check table
pd.read_sql('select * from csv_data limit 10', conn)
#Check number of records in table
pd.read_sql('select count(*) from csv_data', conn)

,Rank,Player,REC,TGT,REC_YDS,Y/R,LG,20+,REC_TD,ATT,YDS.1,RUSH_TD,FL,G,FPTS,FPTS/G,OWN,Team
0,1.0,Michael Thomas,149.0,185.0,"1,725",11.6,49.0,17.0,9.0,1.0,-9.0,0.0,0.0,16.0,225.6,14.1,100.0%,NO
1,2.0,Chris Godwin,86.0,121.0,"1,333",15.5,71.0,25.0,9.0,1.0,8.0,0.0,0.0,14.0,190.1,13.6,99.9%,TB
2,3.0,Kenny Golladay,65.0,116.0,"1,190",18.3,75.0,22.0,11.0,0.0,0.0,0.0,1.0,16.0,183.0,11.4,99.1%,DET
3,4.0,Cooper Kupp,94.0,134.0,"1,161",12.4,66.0,21.0,10.0,2.0,4.0,0.0,0.0,16.0,176.5,11.0,97.2%,LAR
4,5.0,Julio Jones,99.0,157.0,"1,394",14.1,54.0,21.0,6.0,2.0,-3.0,0.0,0.0,15.0,175.1,11.7,100.0%,ATL
5,6.0,DeVante Parker,72.0,128.0,"1,202",16.7,51.0,21.0,9.0,0.0,0.0,0.0,0.0,16.0,174.2,10.9,95.0%,MIA
6,7.0,Amari Cooper,79.0,119.0,"1,189",15.1,53.0,17.0,8.0,1.0,6.0,0.0,0.0,16.0,167.5,10.5,99.3%,DAL
7,8.0,Mike Evans,67.0,118.0,"1,157",17.3,67.0,17.0,8.0,0.0,0.0,0.0,0.0,13.0,165.7,12.7,99.9%,TB
8,9.0,DeAndre Hopkins,104.0,150.0,"1,165",11.2,43.0,16.0,7.0,2.0,18.0,0.0,0.0,15.0,165.5,11.0,100.0%,ARI
9,10.0,A.J. Brown,52.0,84.0,"1,051",20.2,91.0,15.0,8.0,3.0,60.0,1.0,0.0,16.0,165.1,10.3,97.3%,TEN

In [9]:
#Check number of records in table
pd.read_sql('select count(*) from csv_data', conn)

   count(*)
0       525

In [22]:
#Connect to SQL Lite Database
#Use this connection statement below if you want to export after disconnecting or reloading Notebook.
#conn = sqlite3.connect('DSC540_final_db.sqlite')

#Export connection to csv
db_df = pd.read_sql_query("select * from csv_data", conn)
db_df.to_csv('csv_data_export.csv', index=False)

In [23]:
#Close database connnection
conn.close()

# End of CSV process

# Step 2) Web Scraping Data

## Import Web Scraping modules

In [10]:
# Import scraping modules
from urllib.request import urlopen
from bs4 import BeautifulSoup

# Import data manipulation modules
import pandas as pd
import numpy as np
import sqlite3

In [11]:
# URL of page
url = 'https://www.pro-football-reference.com/years/2019/receiving.htm'
# Open URL and pass to BeautifulSoup
html = urlopen(url)
stats_page = BeautifulSoup(html)

In [12]:
# Collect table headers
column_headers = stats_page.findAll('tr')[0]
column_headers = [i.getText() for i in column_headers.findAll('th')]

In [13]:
# Collect table rows
rows = stats_page.findAll('tr')[1:]

# Get stats from each row
wr_stats = []
for i in range(len(rows)):
    wr_stats.append([col.getText() for col in rows[i].findAll('td')])

In [14]:
# Create DataFrame from our scraped data
wr_scrape_data = pd.DataFrame(wr_stats, columns=column_headers[1:])

In [15]:
wr_scrape_data.head()

,Player,Tm,Age,Pos,G,GS,Tgt,Rec,Ctch%,Yds,Y/R,TD,1D,Lng,Y/Tgt,R/G,Y/G,Fmb
0,Michael Thomas*+,NOR,26,WR,16,15,185,149,80.5%,1725,11.6,9,91,49,9.3,9.3,107.8,1
1,Christian McCaffrey *+,CAR,23,RB,16,16,142,116,81.7%,1005,8.7,4,58,28,7.1,7.3,62.8,1
2,Keenan Allen*,LAC,27,WR,16,16,149,104,69.8%,1199,11.5,6,63,45,8.0,6.5,74.9,0
3,DeAndre Hopkins*+,HOU,27,WR,15,15,150,104,69.3%,1165,11.2,7,68,43,7.8,6.9,77.7,0
4,Julian Edelman,NWE,33,WR,16,13,153,100,65.4%,1117,11.2,6,54,44,7.3,6.3,69.8,3

In [16]:
# Remove special characters

spec_chars = ["!",'"',"#","%","&","'","(",")",
              "*","+",",","-",".","/",":",";","<",
              "=",">","?","@","[","\\","]","^","_",
              "`","{","|","}","~","â€“", "+"]

for char in spec_chars:
    wr_scrape_data['Player'] = wr_scrape_data['Player'].str.replace(char, ' ')
wr_scrape_data.head()

,Player,Tm,Age,Pos,G,GS,Tgt,Rec,Ctch%,Yds,Y/R,TD,1D,Lng,Y/Tgt,R/G,Y/G,Fmb
0,Michael Thomas,NOR,26,WR,16,15,185,149,80.5%,1725,11.6,9,91,49,9.3,9.3,107.8,1
1,Christian McCaffrey,CAR,23,RB,16,16,142,116,81.7%,1005,8.7,4,58,28,7.1,7.3,62.8,1
2,Keenan Allen,LAC,27,WR,16,16,149,104,69.8%,1199,11.5,6,63,45,8.0,6.5,74.9,0
3,DeAndre Hopkins,HOU,27,WR,15,15,150,104,69.3%,1165,11.2,7,68,43,7.8,6.9,77.7,0
4,Julian Edelman,NWE,33,WR,16,13,153,100,65.4%,1117,11.2,6,54,44,7.3,6.3,69.8,3

In [17]:
# Remove Pct sign from Ctch% output
wr_scrape_data['Ctch%'] = wr_scrape_data['Ctch%'].str.replace('%', '')
wr_scrape_data.head()

,Player,Tm,Age,Pos,G,GS,Tgt,Rec,Ctch%,Yds,Y/R,TD,1D,Lng,Y/Tgt,R/G,Y/G,Fmb
0,Michael Thomas,NOR,26,WR,16,15,185,149,80.5,1725,11.6,9,91,49,9.3,9.3,107.8,1
1,Christian McCaffrey,CAR,23,RB,16,16,142,116,81.7,1005,8.7,4,58,28,7.1,7.3,62.8,1
2,Keenan Allen,LAC,27,WR,16,16,149,104,69.8,1199,11.5,6,63,45,8.0,6.5,74.9,0
3,DeAndre Hopkins,HOU,27,WR,15,15,150,104,69.3,1165,11.2,7,68,43,7.8,6.9,77.7,0
4,Julian Edelman,NWE,33,WR,16,13,153,100,65.4,1117,11.2,6,54,44,7.3,6.3,69.8,3

In [18]:
# Select stat categories
categories = ['Player', 'Tm', 'Age', 'Pos', 'GS', 'Ctch%', 'Age_Rank', 'Ctch%_Rank']

In [19]:
#2) Create new columns with percentile rank
for i in categories:
    wr_scrape_data[i + '_Rank'] = wr_scrape_data[i].rank(pct=True)

In [20]:
# Create data subset for analysis
wr_scrape_subset = wr_scrape_data[categories]
wr_scrape_subset.head()

                   Player   Tm Age Pos  GS Ctch%  Age_Rank  Ctch%_Rank
0        Michael Thomas    NOR  26  WR  15  80.5  0.613035    0.914460
1  Christian McCaffrey     CAR  23  RB  16  81.7  0.162933    0.924644
2           Keenan Allen   LAC  27  WR  16  69.8  0.738289    0.695519
3       DeAndre Hopkins    HOU  27  WR  15  69.3  0.738289    0.686354
4          Julian Edelman  NWE  33  WR  13  65.4  0.972505    0.543788

In [21]:
#3) Update additional field names
wr_scrape_subset.rename(columns = {'Tm':'Team'}, inplace = True) 
wr_scrape_subset.rename(columns = {'Ctch%':'catch_pct'}, inplace = True) 
wr_scrape_subset.rename(columns = {'Ctch%_Rank':'catch_pct_rank'}, inplace = True) 
wr_scrape_subset.head()

C:\Users\Dan\anaconda3\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

                   Player Team Age Pos  GS catch_pct  Age_Rank  catch_pct_rank
0        Michael Thomas    NOR  26  WR  15      80.5  0.613035        0.914460
1  Christian McCaffrey     CAR  23  RB  16      81.7  0.162933        0.924644
2           Keenan Allen   LAC  27  WR  16      69.8  0.738289        0.695519
3       DeAndre Hopkins    HOU  27  WR  15      69.3  0.738289        0.686354
4          Julian Edelman  NWE  33  WR  13      65.4  0.972505        0.543788

In [22]:
# drop all rows with any NaN and None values
wr_scrape_final = wr_scrape_subset.dropna()
wr_scrape_final.head()

                   Player Team Age Pos  GS catch_pct  Age_Rank  catch_pct_rank
0        Michael Thomas    NOR  26  WR  15      80.5  0.613035        0.914460
1  Christian McCaffrey     CAR  23  RB  16      81.7  0.162933        0.924644
2           Keenan Allen   LAC  27  WR  16      69.8  0.738289        0.695519
3       DeAndre Hopkins    HOU  27  WR  15      69.3  0.738289        0.686354
4          Julian Edelman  NWE  33  WR  13      65.4  0.972505        0.543788

In [46]:
#Connect to SQL Lite Database
conn = sqlite3.connect('DSC540_final_db.sqlite')
#Insert Web Scraping dataframe
wr_scrape_final.to_sql('web_data', conn, if_exists='replace', index=False)
#Check table
pd.read_sql('select * from web_data limit 5', conn)

                   Player Team Age Pos  GS catch_pct  Age_Rank  catch_pct_rank
0        Michael Thomas    NOR  26  WR  15      80.5  0.613035        0.914460
1  Christian McCaffrey     CAR  23  RB  16      81.7  0.162933        0.924644
2           Keenan Allen   LAC  27  WR  16      69.8  0.738289        0.695519
3       DeAndre Hopkins    HOU  27  WR  15      69.3  0.738289        0.686354
4          Julian Edelman  NWE  33  WR  13      65.4  0.972505        0.543788

In [23]:
#Count number of records

pd.read_sql('select count(*) from web_data', conn)

   count(*)
0       491

In [17]:
#Connect to SQL Lite Database
#Use this connection statement below if you want to export after disconnecting or reloading Notebook.
#conn = sqlite3.connect('DSC540_final_db.sqlite')

#Export connection to csv
db_df = pd.read_sql_query("select * from web_data", conn)
db_df.to_csv('web_data_export.csv', index=False)

In [47]:
#Close database connnection
conn.close()

## Join csv and web scraping data into sql lite table

In [25]:
#Connect to SQL Lite Database
#Use this connection statement below if you want to export after disconnecting or reloading Notebook.
conn = sqlite3.connect('DSC540_final_db.sqlite')

#Export connection to csv
sqllite_join = pd.read_sql_query("select csv_data.Player, csv_data.fpts, web_data.Age, web_data.catch_pct  from web_data join csv_data on web_data.Player = csv_data.Player", conn)
#Insert Web Scraping dataframe
sqllite_join.to_sql('web_csv_data_join', conn, if_exists='replace', index=False)
#Check table
pd.read_sql('select * from web_csv_data_join limit 5', conn)

           Player   FPTS Age catch_pct
0   Keenan Allen   157.5  27      69.8
1   Chris Godwin   190.1  23      71.1
2  Davante Adams   129.7  27      65.4
3  Jarvis Landry   154.4  27      60.1
4   Amari Cooper   167.5  25      66.4

# End Web Scraping process

# 3) API Process

## Get API modules

In [26]:
#Import Packages
import numpy as np
import pandas as pd
import requests
import json
import matplotlib.pyplot as plt
import sqlite3

In [27]:
#Get API data
url = "https://www.fantasyfootballdatapros.com/api/projections"
JSONContent = requests.get(url).json()
content = json.dumps(JSONContent, indent = 4, sort_keys=True)
print(content)

[
    {
        "player_name": "Lamar Jackson",
        "pos": "QB",
        "projection": 353.41,
        "team": "BAL"
    },
    {
        "player_name": "Christian McCaffrey",
        "pos": "RB",
        "projection": 338.52,
        "team": "CAR"
    },
    {
        "player_name": "Patrick Mahomes",
        "pos": "QB",
        "projection": 331.01,
        "team": "KC"
    },
    {
        "player_name": "Deshaun Watson",
        "pos": "QB",
        "projection": 307.07,
        "team": "HOU"
    },
    {
        "player_name": "Michael Thomas",
        "pos": "WR",
        "projection": 300.99,
        "team": "NO"
    },
    {
        "player_name": "Dalvin Cook",
        "pos": "RB",
        "projection": 299.89,
        "team": "MIN"
    },
    {
        "player_name": "Dak Prescott",
        "pos": "QB",
        "projection": 298.73,
        "team": "DAL"
    },
    {
        "player_name": "Russell Wilson",
        "pos": "QB",
        "projection": 296.8,
        "team": "SEA"
    },
    {
        "player_name": "Ezekiel Elliot",
        "pos": "RB",
        "projection": 292.63,
        "team": "DAL"
    },
    {
        "player_name": "Saquon Barkley",
        "pos": "RB",
        "projection": 291.03,
        "team": "NYG"
    },
    {
        "player_name": "Kyler Murray",
        "pos": "QB",
        "projection": 288.2,
        "team": "ARI"
    },
    {
        "player_name": "Josh Allen",
        "pos": "QB",
        "projection": 285.9,
        "team": "BUF"
    },
    {
        "player_name": "Tom Brady",
        "pos": "QB",
        "projection": 281.82,
        "team": "TAM"
    },
    {
        "player_name": "Alvin Kamara",
        "pos": "RB",
        "projection": 279.9,
        "team": "NO"
    },
    {
        "player_name": "Drew Brees",
        "pos": "QB",
        "projection": 273.04,
        "team": "NO"
    },
    {
        "player_name": "Carson Wentz",
        "pos": "QB",
        "projection": 269.98,
        "team": "PHI"
    },
    {
        "player_name": "DeAndre Hopkins",
        "pos": "WR",
        "projection": 268.42,
        "team": "ARI"
    },
    {
        "player_name": "Matt Ryan",
        "pos": "QB",
        "projection": 268.28,
        "team": "ATL"
    },
    {
        "player_name": "Aaron Rodgers",
        "pos": "QB",
        "projection": 266.29,
        "team": "GB"
    },
    {
        "player_name": "Matthew Stafford",
        "pos": "QB",
        "projection": 264.47,
        "team": "DET"
    },
    {
        "player_name": "Julio Jones",
        "pos": "WR",
        "projection": 262.85,
        "team": "ATL"
    },
    {
        "player_name": "Travis Kelce",
        "pos": "TE",
        "projection": 262.77,
        "team": "KC"
    },
    {
        "player_name": "Davante Adams",
        "pos": "WR",
        "projection": 261.75,
        "team": "GB"
    },
    {
        "player_name": "Chris Godwin",
        "pos": "WR",
        "projection": 260.47,
        "team": "TB"
    },
    {
        "player_name": "Mike Evans",
        "pos": "WR",
        "projection": 255.63,
        "team": "TB"
    },
    {
        "player_name": "Aaron Jones",
        "pos": "RB",
        "projection": 255.56,
        "team": "GB"
    },
    {
        "player_name": "Daniel Jones",
        "pos": "QB",
        "projection": 253.83,
        "team": "NYG"
    },
    {
        "player_name": "Derrick Henry",
        "pos": "RB",
        "projection": 250.97,
        "team": "TEN"
    },
    {
        "player_name": "Jared Goff",
        "pos": "QB",
        "projection": 249.88,
        "team": "LAR"
    },
    {
        "player_name": "Tyreek Hill",
        "pos": "WR",
        "projection": 248.22,
        "team": "KC"
    },
    {
        "player_name": "Kenyan Drake",
        "pos": "RB",
        "projection": 247.86,
        "team": "ARI"
    },
    {
        "player_name": "George Kittle",
        "pos": "TE",
        "projection": 246.41,
        "team": "SF"
    },
    {
        "player_name": "Austin Ekeler",
        "pos": "RB",
        "projection": 245.81,
        "team": "LAC"
    },
    {
        "player_name": "Ryan Tannehill",
        "pos": "QB",
        "projection": 242.45,
        "team": "TEN"
    },
    {
        "player_name": "Ben Roethlisberger",
        "pos": "QB",
        "projection": 240.44,
        "team": "PIT"
    },
    {
        "player_name": "Leonard Fournette",
        "pos": "RB",
        "projection": 236.92,
        "team": "JAX"
    },
    {
        "player_name": "Jimmy Garoppolo",
        "pos": "QB",
        "projection": 236.55,
        "team": "SF"
    },
    {
        "player_name": "Gardner Minshew II",
        "pos": "QB",
        "projection": 235.7,
        "team": "JAX"
    },
    {
        "player_name": "Damien Williams",
        "pos": "RB",
        "projection": 234.76,
        "team": "KC"
    },
    {
        "player_name": "Baker Mayfield",
        "pos": "QB",
        "projection": 232.84,
        "team": "CLE"
    },
    {
        "player_name": "Adam Thielen",
        "pos": "WR",
        "projection": 231.69,
        "team": "MIN"
    },
    {
        "player_name": "Kirk Cousins",
        "pos": "QB",
        "projection": 231.21,
        "team": "MIN"
    },
    {
        "player_name": "Ryan Fitzpatrick",
        "pos": "MIA",
        "projection": 229.78,
        "team": "QB"
    },
    {
        "player_name": "Nick Chubb",
        "pos": "RB",
        "projection": 229.4,
        "team": "CLE"
    },
    {
        "player_name": "Kenny Golladay",
        "pos": "WR",
        "projection": 227.23,
        "team": "DET"
    },
    {
        "player_name": "DJ Moore",
        "pos": "WR",
        "projection": 226.9,
        "team": "CAR"
    },
    {
        "player_name": "Miles Sanders",
        "pos": "RB",
        "projection": 224.49,
        "team": "PHI"
    },
    {
        "player_name": "Josh Jacobs",
        "pos": "RB",
        "projection": 223.69,
        "team": "OAK"
    },
    {
        "player_name": "Amari Cooper",
        "pos": "WR",
        "projection": 223.65,
        "team": "DAL"
    },
    {
        "player_name": "Phillip Rivers",
        "pos": "QB",
        "projection": 222.08,
        "team": "IND"
    },
    {
        "player_name": "Leveon Bell",
        "pos": "RB",
        "projection": 221.87,
        "team": "NYJ"
    },
    {
        "player_name": "Joe Mixon",
        "pos": "RB",
        "projection": 221.58,
        "team": "CIN"
    },
    {
        "player_name": "Courtland Sutton",
        "pos": "WR",
        "projection": 221.13,
        "team": "DEN"
    },
    {
        "player_name": "Tyler Lockett",
        "pos": "WR",
        "projection": 219.67,
        "team": "SEA"
    },
    {
        "player_name": "TY Hilton",
        "pos": "WR",
        "projection": 219.42,
        "team": "IND"
    },
    {
        "player_name": "Robert Woods",
        "pos": "WR",
        "projection": 219.04,
        "team": "LAR"
    },
    {
        "player_name": "Teddy Bridgewater",
        "pos": "QB",
        "projection": 218.63,
        "team": "CAR"
    },
    {
        "player_name": "Allen Robinson II",
        "pos": "WR",
        "projection": 218.57,
        "team": "CHI"
    },
    {
        "player_name": "Drew Lock",
        "pos": "QB",
        "projection": 218.4,
        "team": "DEN"
    },
    {
        "player_name": "Todd Gurley II",
        "pos": "RB",
        "projection": 216.2,
        "team": "ATL"
    },
    {
        "player_name": "Cooper Kupp",
        "pos": "WR",
        "projection": 215.76,
        "team": "LAR"
    },
    {
        "player_name": "Terry McLaurin",
        "pos": "WR",
        "projection": 215.39,
        "team": "WAS"
    },
    {
        "player_name": "JuJu Smith-Schuster",
        "pos": "WR",
        "projection": 214.42,
        "team": "PIT"
    },
    {
        "player_name": "Sam Darnold",
        "pos": "QB",
        "projection": 213.81,
        "team": "NYJ"
    },
    {
        "player_name": "Deebo Samuel",
        "pos": "WR",
        "projection": 211.93,
        "team": "SF"
    },
    {
        "player_name": "AJ Brown",
        "pos": "WR",
        "projection": 211.75,
        "team": "TEN"
    },
    {
        "player_name": "James Conner",
        "pos": "RB",
        "projection": 211.63,
        "team": "PIT"
    },
    {
        "player_name": "Chris Carson",
        "pos": "RB",
        "projection": 211.43,
        "team": "SEA"
    },
    {
        "player_name": "Jarrett Stidham",
        "pos": "QB",
        "projection": 211.42,
        "team": "NE"
    },
    {
        "player_name": "Dwayne Haskins Jr.",
        "pos": "QB",
        "projection": 209.21,
        "team": "WAS"
    },
    {
        "player_name": "Marvin Jones Jr.",
        "pos": "WR",
        "projection": 207.36,
        "team": "DET"
    },
    {
        "player_name": "Calvin Ridley",
        "pos": "WR",
        "projection": 207.18,
        "team": "ATL"
    },
    {
        "player_name": "Julian Edleman",
        "pos": "WR",
        "projection": 206.86,
        "team": "NE"
    },
    {
        "player_name": "Odell Beckham Jr.",
        "pos": "WR",
        "projection": 206.38,
        "team": "CLE"
    },
    {
        "player_name": "Keenan Allen",
        "pos": "WR",
        "projection": 204.79,
        "team": "LAC"
    },
    {
        "player_name": "Devin Singletary",
        "pos": "RB",
        "projection": 204.31,
        "team": "BUF"
    },
    {
        "player_name": "DeVante Parker",
        "pos": "WR",
        "projection": 203.55,
        "team": "MIA"
    },
    {
        "player_name": "Derek Carr",
        "pos": "QB",
        "projection": 202.05,
        "team": "OAK"
    },
    {
        "player_name": "Zach Ertz",
        "pos": "TE",
        "projection": 201.31,
        "team": "PHI"
    },
    {
        "player_name": "Jarvis Landry",
        "pos": "WR",
        "projection": 200.07,
        "team": "CLE"
    },
    {
        "player_name": "Mark Ingram II",
        "pos": "RB",
        "projection": 199.56,
        "team": "BAL"
    },
    {
        "player_name": "AJ Green",
        "pos": "WR",
        "projection": 199.51,
        "team": "CIN"
    },
    {
        "player_name": "Michael Gallup",
        "pos": "WR",
        "projection": 198.49,
        "team": "DAL"
    },
    {
        "player_name": "Melvin Gordon",
        "pos": "RB",
        "projection": 197.91,
        "team": "DEN"
    },
    {
        "player_name": "Mark Andrews",
        "pos": "TE",
        "projection": 197.12,
        "team": "BAL"
    },
    {
        "player_name": "Stefon Diggs",
        "pos": "WR",
        "projection": 195.73,
        "team": "BUF"
    },
    {
        "player_name": "DJ Chark Jr.",
        "pos": "WR",
        "projection": 195.71,
        "team": "JAX"
    },
    {
        "player_name": "Darren Waller",
        "pos": "TE",
        "projection": 194.42,
        "team": "OAK"
    },
    {
        "player_name": "Ronald Jones II",
        "pos": "RB",
        "projection": 192.91,
        "team": "TB"
    },
    {
        "player_name": "Raheem Mostert",
        "pos": "RB",
        "projection": 192.89,
        "team": "SF"
    },
    {
        "player_name": "Darrell Henderson Jr.",
        "pos": "RB",
        "projection": 192.31,
        "team": "LAR"
    },
    {
        "player_name": "Tyler Boyd",
        "pos": "WR",
        "projection": 191.84,
        "team": "CIN"
    },
    {
        "player_name": "David Johnson",
        "pos": "RB",
        "projection": 191.17,
        "team": "HOU"
    },
    {
        "player_name": "Tyrod Taylor",
        "pos": "QB",
        "projection": 190.2,
        "team": "LAC"
    },
    {
        "player_name": "Sterling Shepard",
        "pos": "WR",
        "projection": 188.62,
        "team": "NYG"
    },
    {
        "player_name": "Kerryon Johnson",
        "pos": "RB",
        "projection": 187.55,
        "team": "DET"
    },
    {
        "player_name": "Marlon Mack",
        "pos": "RB",
        "projection": 187.42,
        "team": "IND"
    },
    {
        "player_name": "DK Metcalf",
        "pos": "WR",
        "projection": 187.38,
        "team": "SEA"
    },
    {
        "player_name": "Jamison Crowder",
        "pos": "WR",
        "projection": 185.41,
        "team": "NYJ"
    },
    {
        "player_name": "Tyler Higbee",
        "pos": "TE",
        "projection": 184.21,
        "team": "LAR"
    },
    {
        "player_name": "Diontae Johnson",
        "pos": "WR",
        "projection": 178.28,
        "team": "PIT"
    },
    {
        "player_name": "James White",
        "pos": "RB",
        "projection": 176.83,
        "team": "NE"
    },
    {
        "player_name": "Marquise Brown",
        "pos": "WR",
        "projection": 174.11,
        "team": "BAL"
    },
    {
        "player_name": "Golden Tate",
        "pos": "WR",
        "projection": 173.42,
        "team": "NYG"
    },
    {
        "player_name": "Preston Williams",
        "pos": "WR",
        "projection": 172.75,
        "team": "MIA"
    },
    {
        "player_name": "Will Fuller V",
        "pos": "WR",
        "projection": 172.32,
        "team": "HOU"
    },
    {
        "player_name": "Dede Westbrook",
        "pos": "WR",
        "projection": 172.2,
        "team": "JAX"
    },
    {
        "player_name": "Tarik Cohen",
        "pos": "RB",
        "projection": 171.65,
        "team": "CHI"
    },
    {
        "player_name": "Alshon Jeffery",
        "pos": "WR",
        "projection": 171.62,
        "team": "PHI"
    },
    {
        "player_name": "Kareem Hunt",
        "pos": "RB",
        "projection": 171.13,
        "team": "CLE"
    },
    {
        "player_name": "Andy Dalton",
        "pos": "QB",
        "projection": 170.89,
        "team": "CIN"
    },
    {
        "player_name": "John Brown",
        "pos": "WR",
        "projection": 170.88,
        "team": "BUF"
    },
    {
        "player_name": "David Montgomery",
        "pos": "RB",
        "projection": 167.32,
        "team": "CHI"
    },
    {
        "player_name": "Robby Anderson",
        "pos": "WR",
        "projection": 166.64,
        "team": "CAR"
    },
    {
        "player_name": "Emmanuel Sanders",
        "pos": "WR",
        "projection": 166.55,
        "team": "NO"
    },
    {
        "player_name": "Evan Engram",
        "pos": "TE",
        "projection": 165.82,
        "team": "NYG"
    },
    {
        "player_name": "Derrius Guice",
        "pos": "RB",
        "projection": 165.65,
        "team": "WAS"
    },
    {
        "player_name": "James Washington",
        "pos": "WR",
        "projection": 165.48,
        "team": "PIT"
    },
    {
        "player_name": "Darius Slayton",
        "pos": "WR",
        "projection": 165.44,
        "team": "NYG"
    },
    {
        "player_name": "Boston Scott",
        "pos": "RB",
        "projection": 164.38,
        "team": "PHI"
    },
    {
        "player_name": "N'Keal Harry",
        "pos": "WR",
        "projection": 163.23,
        "team": "NE"
    },
    {
        "player_name": "Christian Kirk",
        "pos": "WR",
        "projection": 162.51,
        "team": "ARI"
    },
    {
        "player_name": "Brandon Cooks",
        "pos": "WR",
        "projection": 162.22,
        "team": "HOU"
    },
    {
        "player_name": "Kenny Stills",
        "pos": "WR",
        "projection": 158.75,
        "team": "HOU"
    },
    {
        "player_name": "Jordan Howard",
        "pos": "RB",
        "projection": 158.55,
        "team": "MIA"
    },
    {
        "player_name": "Anthony Miller",
        "pos": "WR",
        "projection": 157.91,
        "team": "CHI"
    },
    {
        "player_name": "Hunter Renfrow",
        "pos": "WR",
        "projection": 157.43,
        "team": "OAK"
    },
    {
        "player_name": "Breshad Perriman",
        "pos": "WR",
        "projection": 155.62,
        "team": "NYJ"
    },
    {
        "player_name": "Mitchell Trubisky",
        "pos": "QB",
        "projection": 153.89,
        "team": "CHI"
    },
    {
        "player_name": "Mike Williams",
        "pos": "WR",
        "projection": 153.71,
        "team": "LAC"
    },
    {
        "player_name": "Deshaun Jackson",
        "pos": "WR",
        "projection": 151.6,
        "team": "PHI"
    },
    {
        "player_name": "Phillip Lindsay",
        "pos": "RB",
        "projection": 151.56,
        "team": "DEN"
    },
    {
        "player_name": "Russell Gage",
        "pos": "WR",
        "projection": 150.65,
        "team": "ATL"
    },
    {
        "player_name": "Jared Cook",
        "pos": "TE",
        "projection": 150.21,
        "team": "NO"
    },
    {
        "player_name": "Curtis Samuel",
        "pos": "WR",
        "projection": 150.05,
        "team": "CAR"
    },
    {
        "player_name": "Larry Fitzgerald",
        "pos": "WR",
        "projection": 149.45,
        "team": "ARI"
    },
    {
        "player_name": "Tyrell Williams",
        "pos": "WR",
        "projection": 148.76,
        "team": "OAK"
    },
    {
        "player_name": "Parris Campbell",
        "pos": "WR",
        "projection": 147.78,
        "team": "IND"
    },
    {
        "player_name": "Steven Sims Jr.",
        "pos": "WR",
        "projection": 147.45,
        "team": "WAS"
    },
    {
        "player_name": "Will Lutz",
        "pos": "K",
        "projection": 146.83,
        "team": "NO"
    },
    {
        "player_name": "Mecole Hardman",
        "pos": "WR",
        "projection": 146.53,
        "team": "KC"
    },
    {
        "player_name": "Duke Johnson",
        "pos": "RB",
        "projection": 145.9,
        "team": "HOU"
    },
    {
        "player_name": "Jamaal Williams",
        "pos": "RB",
        "projection": 145.78,
        "team": "GB"
    },
    {
        "player_name": "Jack Doyle",
        "pos": "TE",
        "projection": 145.56,
        "team": "IND"
    },
    {
        "player_name": "Sammy Watkins",
        "pos": "WR",
        "projection": 142.96,
        "team": "KC"
    },
    {
        "player_name": "Danny Amendola",
        "pos": "WR",
        "projection": 142.26,
        "team": "DET"
    },
    {
        "player_name": "Justin Tucker",
        "pos": "K",
        "projection": 141.93,
        "team": "BAL"
    },
    {
        "player_name": "Austin Hooper",
        "pos": "TE",
        "projection": 141.63,
        "team": "CLE"
    },
    {
        "player_name": "Hunter Henry",
        "pos": "TE",
        "projection": 141.0,
        "team": "LAC"
    },
    {
        "player_name": "TJ Hockenson",
        "pos": "TE",
        "projection": 140.59,
        "team": "DET"
    },
    {
        "player_name": "Cole Beasley",
        "pos": "WR",
        "projection": 138.64,
        "team": "BUF"
    },
    {
        "player_name": "Harrison Butker",
        "pos": "K",
        "projection": 138.61,
        "team": "KC"
    },
    {
        "player_name": "Latavius Murray",
        "pos": "RB",
        "projection": 137.15,
        "team": "NO"
    },
    {
        "player_name": "Steelers D/ST",
        "pos": "D/ST",
        "projection": 135.91,
        "team": "PIT"
    },
    {
        "player_name": "Bills D/ST",
        "pos": "D/ST",
        "projection": 135.35,
        "team": "BUF"
    },
    {
        "player_name": "Nyheim Hines",
        "pos": "RB",
        "projection": 135.19,
        "team": "IND"
    },
    {
        "player_name": "Chris Conley",
        "pos": "WR",
        "projection": 135.04,
        "team": "JAX"
    },
    {
        "player_name": "Randall Cobb",
        "pos": "WR",
        "projection": 134.94,
        "team": "HOU"
    },
    {
        "player_name": "Mike Gesicki",
        "pos": "TE",
        "projection": 134.93,
        "team": "MIA"

In [28]:
#Get API data step 1
r = requests.get('https://www.fantasyfootballdatapros.com/api/projections')
data = r.text
api_data = pd.read_json(data, orient='records')

In [29]:
#Get api data into data frame
api_data.head(5)

           player_name pos  projection team
0        Lamar Jackson  QB      353.41  BAL
1  Christian McCaffrey  RB      338.52  CAR
2      Patrick Mahomes  QB      331.01   KC
3       Deshaun Watson  QB      307.07  HOU
4       Michael Thomas  WR      300.99   NO

In [30]:
#Subset the data to WR projections only
api_data_subset_wr = api_data[api_data["pos"] == 'WR']
api_data_subset_wr.head()

        player_name pos  projection team
4    Michael Thomas  WR      300.99   NO
16  DeAndre Hopkins  WR      268.42  ARI
20      Julio Jones  WR      262.85  ATL
22    Davante Adams  WR      261.75   GB
23     Chris Godwin  WR      260.47   TB

In [31]:
#Remove any special characters from player name
# initializing bad_chars_list 

spec_chars = ["!",'"',"#","%","&","'","(",")",
              "*","+",",","-",".","/",":",";","<",
              "=",">","?","@","[","\\","]","^","_",
              "`","{","|","}","~","â€“"]

for char in spec_chars:
    api_data_subset_wr['player_name'] = api_data_subset_wr['player_name'].str.replace(char, ' ')
api_data_subset_wr

C:\Users\Dan\anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

          player_name pos  projection team
4      Michael Thomas  WR      300.99   NO
16    DeAndre Hopkins  WR      268.42  ARI
20        Julio Jones  WR      262.85  ATL
22      Davante Adams  WR      261.75   GB
23       Chris Godwin  WR      260.47   TB
..                ...  ..         ...  ...
175  DaeSean Hamilton  WR      125.01  DEN
176     Malcolm Brown  WR      124.55  LAR
178      Allen Lazard  WR      123.85   GB
180       Corey Davis  WR      123.06  TEN
188    Adam Humphries  WR      118.34  TEN

[77 rows x 4 columns]

In [33]:
#Connect to SQL Lite Database
conn = sqlite3.connect('DSC540_final_db.sqlite')
#Insert Web Scraping dataframe
api_data_subset_wr.to_sql('api_data', conn, if_exists='replace', index=False)
#Check table
pd.read_sql('select * from api_data limit 5', conn)

       player_name pos  projection team
0   Michael Thomas  WR      300.99   NO
1  DeAndre Hopkins  WR      268.42  ARI
2      Julio Jones  WR      262.85  ATL
3    Davante Adams  WR      261.75   GB
4     Chris Godwin  WR      260.47   TB

In [63]:
#Connect to SQL Lite Database
#Use this connection statement below if you want to export after disconnecting or reloading Notebook.
#conn = sqlite3.connect('DSC540_final_db.sqlite')

#Export connection to csv
db_df = pd.read_sql_query("select * from api_data", conn)
db_df.to_csv('api_data_export.csv', index=False)

## Combine csv and api data

In [46]:
#Connect to SQL Lite Database
#Use this connection statement below if you want to export after disconnecting or reloading Notebook.
conn = sqlite3.connect('DSC540_final_db.sqlite')

#Export connection to csv
sqllite_join2 = pd.read_sql_query("select csv_data.Player, csv_data.REC, csv_data.REC_YDS, csv_data.FPTS, api_data.projection, api_data.Team  from csv_data join api_data on api_data.player_name = TRIM(csv_data.Player)", conn)
#Insert Web Scraping dataframe
sqllite_join2.to_sql('api_csv_data_join', conn, if_exists='replace', index=False)
#Check table
pd.read_sql('select * from api_csv_data_join limit 10', conn)

sqllite_join2.head(5)

#pd.read_sql('select csv_data.Player, csv_data.REC, csv_data.REC_YDS, csv_data.FPTS, api_data.projection, api_data.Team  from csv_data left join api_data on api_data.player_name = csv_data.Player', conn)

            Player    REC REC_YDS   FPTS  projection team
0  Michael Thomas   149.0   1,725  225.6      300.99   NO
1    Chris Godwin    86.0   1,333  190.1      260.47   TB
2  Kenny Golladay    65.0   1,190  183.0      227.23  DET
3     Cooper Kupp    94.0   1,161  176.5      215.76  LAR
4     Julio Jones    99.0   1,394  175.1      262.85  ATL

In [47]:
#Close database connnection
conn.close()

# End of API Data process